---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import TechStack from '../components/TechStack.astro';
import Ventures from '../components/Ventures.astro';
import Projects from '../components/Projects.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="flex flex-col gap-20 sm:gap-28 md:gap-36 lg:gap-48">
		<Hero />
		<About />
		<TechStack />
		<Ventures />
		<Projects />
	</div>
</Layout>
